<!-- Heredamos de la plantlla base -->
{% extends "Colma2WebApp/base.html" %}
<!-- Cargamos lo que hay en la carpeta static -->
{% load static %}
<!-- Configuramos el contenido cambiante para este template-->
{% block content %}
<!-- Recorremos los eventos que vienen pasados como paramtero al template -->
{% for evento in eventos %}



<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{evento.imagen.url}}" alt="" style="width: 60%;">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-lower">{{evento.nombre}}</span>
          <span class="section-heading-upper"></span>
          <span class="section-heading-upper">{{evento.contenido}}</span>
          <span class="section-heading-upper"></span>
          <span class="section-heading-upper">Este evento es el {{evento.fecha}}</span>
          
        </h2>
        
       
      </div>
    </div>
  </div>
</section>




{% endfor %}

  {% endblock %}