<html>

<head>

  <!-- Aqui es donde le estamos diciendo que cargue todos los contenidos de bootstrap que
  hay en la carpeta static -->
  {% load static %}


    <!-- Bootstrap -->
    <!-- Si queremos cargar las imagenes con bootstrap hay que poner aquí el
     "{% static ' y la ruta de donde se encuentra el archivo que queremos cargar-->
    <link href="{% static 'Colma2WebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'Colma2WebApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Colma2 Web</span>
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <!-- Aquí configuramos los botones de la barra de navegación y configuramos las urls para cada vez que pinchemos en los botones 
  Tambien configuramos con el request.path que si estamos en una pagina en concreto, se resalte el nombre del
menu en el que estamos-->
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Colma2 Web</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/quienes/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Quienes' %}">Quiénes somos</a>
          </li>
          <li class="nav-item {% if request.path == '/eventos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Eventos' %}">Próximos eventos</a>
          </li>
          <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {% if request.path == '/donativos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Donativos' %}">Donativos</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

<!-- Contenido cambiante para las proximas plantillas-->

{% block content %}


{% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Colma2 Web 2023</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'Colma2WebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Colma2WebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>