<table class="table table-bordered" style="color: white;">

    <thead>

        <tr>


            <th colspan="3" class="text-center">


                Información


            </th>


        </tr>

        <tr>

            <th>Nombre</th>
            <th>{{colma2.nombre}}</th>
            
           



        </tr>
        <tr>

            <th>Origen</th>
            <th>XXX</th>
            
           



        </tr>

        <tr>

            <th>Descripcion</th>
            <th>XXX</th>
            
           



        </tr>

        <tr>

            <th>Frase célebre</th>
            <th>XXX</th>
            
           



        </tr>






    </thead>

</table>